
@{
    ViewBag.Title = "Admin Console";
}

<h2>@ViewBag.Title</h2>

<ul class="list-group">
    <li class="list-group-item">
        @Html.ActionLink("View Users", "Users", "Admin")
    </li>
    <li class="list-group-item">
        @Html.ActionLink("View Artists", "Artists", "Admin")
    </li>
    <li class="list-group-item">
        @Html.ActionLink("View Songs", "Songs", "Admin")
    </li>
</ul>
