@model TabDetailsViewModel

<div>
    @Html.DisplayFor(model => model.Content)
    
    <h3 class="mt-4 mb-3">Intro/Verse/Chorus/Fill</h3>
    <pre class="h4">| B   | B   | E5  | E5  |</pre>
    <pre class="h4">| B   | B   | Gb* | E*  |</pre>

    <h3 class="mt-4 mb-3">Pre-Chorus</h3>
    <p class="h5">And tell me that we belong together...</p>
    <pre class="h4">|:B   | Gb* | E*  | Gb*:| x3</pre>

    <p class="h5">Instead of the gallows of heartache...</p>
    <pre class="h4">| B   | B   | Gb* | Gb* |</pre>
    <pre class="h4">| E*  | E*  | Gb  | Gb  |</pre>
    
    <h3 class="mt-4 mb-3">Bridge</h3>
    <p class="h5">Well I've dropped out, burned up...</p>
    <pre class="h4">|:Ab m7 | Ab m7 | Gb   | Gb   |</pre>
    <pre class="h4">| E     | E     | E    | E   :| x2</pre>
    <p>* Alternate between 022100 and 022300</p>

    <p><small>Last modified on @Model.Created by @Model.ContributorName</small></p>
</div>
