@model BrowseArtistsViewModel

@{
    ViewBag.Title = "Browse";
}

<div class="d-flex justify-content-between align-items-center">
    <h2>Browse</h2>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</div>
<hr class="mb-4 bg-light" />


@foreach (var artist in Model.Artists) {
    <div class="list-group">
        @Html.ActionLink(artist.Name, "Details", new { id = artist.ArtistID }, new { @class = "list-group-item list-group-item-action" })
    </div>
}
