@model ArtistDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div class="d-flex justify-content-between align-items-center">
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArtistID }, new { @class = "btn btn-primary" })
</div>
<hr class="mb-4 bg-light" />
<ul class="list-group my-3">
    @foreach (var song in Model.Songs)
    {
        @Html.ActionLink(song.Name, "Details", "Song", new { id = song.SongID }, new { @class = "list-group-item list-group-item-action" })
    }
</ul>

@Html.ActionLink("Add Song", "Create", "Song", new { ArtistID = Model.ArtistID, ArtistName = Model.Name }, new { @class = "btn btn-primary my-3" })
